{% extends 'base.html.twig' %}

{% block content %}
<section id="slider">
    {{ sliderContent|raw }}
</section>
<section id="teams">
    <h2>Our Team</h2>
    <ul>
        {% for member in teamMembers %}
            <li>
                <img src="{{ member.image }}" alt="{{ member.name }}">
                <h3>{{ member.name }}</h3>
                <p>{{ member.role }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
<section id="news">
    <h2>Latest News</h2>
    <ul>
        {% for news in newsList %}
            <li>
                <h3>{{ news.title }}</h3>
                <p>{{ news.content }}</p>
                <div class="social-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ news.url }}" target="_blank">Share on Facebook</a>
                    <a href="https://twitter.com/intent/tweet?url={{ news.url }}" target="_blank">Share on Twitter</a>
                    <a href="https://wa.me/?text={{ news.url }}" target="_blank">Share on WhatsApp</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
<section id="gallery">
    <h2>Gallery</h2>
    <ul>
        {% for image in galleryImages %}
            <li><img src="{{ image.path }}" alt="Gallery Image"></li>
        {% endfor %}
    </ul>
</section>
<section id="contact">
    <h2>Contact Us</h2>
    <form method="post" action="contact_submit.php">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="message">Message:</label>
        <textarea name="message" id="message" rows="5" required></textarea>
        <br>
        <button type="submit">Send Message</button>
    </form>
</section>
<section id="youtube">
    <h2>Our YouTube Channel</h2>
    <div class="youtube-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</section>
<section id="comments">ap">ocial-feeds">
    <h2>Comments</h2>    <h2>Our Location</h2>    <h2>Social Media Feeds</h2>















{% endblock %}</section>    </ul>        {% endfor %}            <li>{{ comment.content }}</li>        {% for comment in comments %}    <ul>    <h3>Existing Comments</h3>    </form>        <button type="submit">Submit Comment</button>        <br>        <textarea name="content" id="content" rows="5" required></textarea>        <label for="content">Leave a Comment:</label>    <form method="post" action="comments_submit.php">











{% endblock %}</section>    </div>        </div>            <blockquote cite="https://www.facebook.com/YOUR_FACEBOOK_PAGE" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/YOUR_FACEBOOK_PAGE">Facebook Page</a></blockquote>{% endblock %}</section>    </div>        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1dYOUR_MAP_DATA" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>    <div class="map-container">    <div class="twitter-feed">
        <a class="twitter-timeline" href="https://twitter.com/YOUR_TWITTER_HANDLE?ref_src=twsrc%5Etfw">Tweets by YOUR_TWITTER_HANDLE</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

        <div class="fb-page" data-href="https://www.facebook.com/YOUR_FACEBOOK_PAGE" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">    <div class="facebook-feed">